body {
  background-color: #aac;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.contain-titulo{
  width: 100%;
}
h2,h3,h4,h5 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

section {
  background: linear-gradient(#4fd, #8cd);
}

.rombo {
  position: absolute;
  top: 60%;
  left: 30%;
  transform: rotate(45deg) translate(-35%, -45%);
  width: 180px;
  height: 180px;
  z-index: 1;
}
.cuadrado {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  z-index: 2;
}
.separator {
  border-left: 1px solid #ddd;
}

.nav-item:hover {
  color: #fdd;
  text-decoration: underline;
  
}

.nav-item {
  font-family: "Oswald", sans-serif;
}

.img {
  height: 280px;
  width: 480px;
}

.img-raw-smackdown {
  height: 150px;
  width: 450px;
  border: 3px solid #000;
}

.sign-up {
  border: 2px solid #000;
  border-radius: 10px;
  margin-top: 40px;
  background-color: #ddd;
}

.cede{
   margin-top: 60px;
}

footer{
   width: 100%;
}

.link-net{
   color: #ddd;
}

.link-net:hover{
      color: #000;
}

.btn-roster-smackdown:hover{
  border-color: #00f;
}

.btn-roster-raw:hover{
  border-color: #f00;
}


.card {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
}

#details-box {
  display: none;
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#details-img {
  width: 350px;
  height: 350px;
  object-fit: cover; 
}
 
.contiene{
  padding-top: 80px;
}


.imagen_delante_icono{
  margin-top: 20px;
  width: 200px;
  height: 200px;
}

.container-fluid{
  margin: 50px 0;
}

.button_formulario {
  position:absolute; 
  right:10px; 
  top:30px;
}

.loginbg {
  background-color: #aac;
}
.row {
  display: flex;
  transition: all 0.3s ease;
}

.col {
  position: relative;
}

.img-raw-smackdown {
  width: 100%; 
  transition: transform 0.3s ease;
  
}